* {
  background-color: black;
  color: white;
}
#body {
  text-align: center;
}
h3 {
  margin-top: 20vh;
  margin-bottom: 20vh;
}
#answer {
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: white solid 1px;
}
#answer:focus {
  outline: none;
}
#submit {
  display: none;
}
#choices ul {
  list-style: inside decimal;
  font-size: 20px;
}